# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Secrets
.env
.vscode/

# Python
.venv/
__pycache__/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data
*.parquet

#kestra
gcp-creds.json
service-account.json
credentials.json

#dbt
target/
dbt_packages/
logs/
dbt_internal_packages/