# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Secrets
.env

# Python
.venv/
__pycache__/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data
*.parquet

#kestra
gcp-creds.json
service-account.json
credentials.json